{% extends "template.html" %}

{% block content %}

<h3>Prediction:</h3>
<p class=center_pred>An estimated <span style="color:orange;font-weight:bold;font-size:2em">  {{pred}}  </span> receipts will be scanned in {{mon}}, 2022!</p>
<img class=center_im style='display:block; width:700px;height:450px;' id='base64image'
       src='data:image/jpeg;base64, {{im}}' />
<div class="text-center">
    <input type="button" class="form-pred-button" onclick="history.back()" value="Make Another Prediction!" />
</div>

{% endblock %}